.container-fluid {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: dimgray;
}

.card-body{
  border: 1px solid black;
}

.container {
  position: relative;
  z-index: 2;
}

.card{
  border: 0;
}

button
{
  background-color: var(--pixly-color);
}

button:hover
{
  background-color: var(--pixly-color-hover);
}

i{
  color: white;
}

.card-header{
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

